/* 
    Document   : Search
    Created on : Aug 3, 2011, 1:41:40 PM
    Author     : nbanks
    Description:
        Purpose of the stylesheet follows.
*
div.form-item select { 
  display: inline-block;
}*/

form#scholar-search-form div.form-item { 
  display: inline-block;
}

#scholar-search-form  .progress-disabled, 
#scholar-search-form  .ahah-progress, 
#scholar-search-form  .ahah-progress throbber {
  float:none; 
}
#scholar-search-form .ahah-progress {
  display: inline-block;
}

#scholar-search-results-form > div > div {
  width: 100%;
  float: left;
}

/*
.scholar_search_item {
  margin: 1em;
}

.scholar-search-results {
  margin-top: 2em; 
}

div.scholar-search-terms .form-item {
  display: inline-block;
}

div.scholar-search-controls > .form-item {
  display: inline-block;
}

div.scholar-export-controls > .form-item {
  display: inline-block;
}*/
